@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
	margin: 0px;
	padding: 0px;
}

body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #b1e1e2;
	/* animation-name: bg;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite; */
	animation: bg 20s linear infinite;
}

.wrap{
	width: 936px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
}

/* town */
.town .night,
.town .day{
	position: absolute;
	bottom: 0;
}

.town .day{
	animation: day 20s linear infinite;
}

.town .circle{
	position: absolute;
	bottom: 110px;
	left: 300px;
	animation: circle 20s linear infinite;
}

/* sky */
.sky .cloud1{
	position: absolute;
	top: -50px;
	left: 0;
	animation: flow 10s linear infinite;
}

.sky .cloud2{
	position: absolute;
	top: 0;
	left: 0;
	animation: flow 20s linear infinite;
}

.sky .sun{
	position: absolute;
	top: -150px;
	left: 50%;
	margin-left: -100px;
	animation: sun 20s linear infinite;
	transform-origin: center 500px;
}

/* people */
.people .man,
.people .family{
	position: absolute;
	bottom: 0;
	left: 0;
}

.people .man{
	animation: flow 7s linear infinite;
}

.people .family{
	animation: flow 20s linear infinite;
}

h1{
	width: 936px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 150%);
	font-size: 90px;
	font-weight: 400;
	font-family: 'Poiret One';
	text-align: center;
	color: #fff;
	animation: day 20s linear infinite;
}

/* 배경색 애니메이션 */
@keyframes bg{
	0%{background-color: #b08fcc;}
	25%{background-color: #b1e1e2;}
	50%{background-color: #fcd2e2;}
	75%{background-color: #536888;}
	100%{background-color: #b08fcc;}
}

/* 사람과 구름 이동 */
@keyframes flow{
	0%{opacity: 0; left: 0;}
	10%{opacity: 1; }
	80%{opacity: 1;}
	100%{opacity: 0; left: 90%;}
}

/* 관람차 회전 */
@keyframes circle{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}

/* 태양 회전 */
@keyframes sun{
	0%{opacity: 0; transform: rotate(-90deg);}
	25%{opacity: 1; transform: rotate(-30deg);}
	50%{opacity: 1; transform: rotate(30deg);}
	75%{opacity: 0; transform: rotate(90deg);}
	100%{opacity: 0; transform: rotate(-90deg);}
}

/* 밤에 특정요소 숨기기 */
@keyframes day{
	0%{opacity: 0;}
	25%{opacity: 1;}
	50%{opacity: 1;}
	75%{opacity: 0;}
	100%{opacity: 0;}
}